body {
    margin: 0;
    padding: 0;
    min-height: 1280px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;

    background-color: #FFFFFF;
}

h1 {
    margin: 0;
}

menu {
    padding: 0px;
}

a {
    text-decoration: none;
    color: #0F2336;
    font-weight: 700;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.hover:hover {
      background-color: #F3AF47;
}

.nav-overalls:hover {
    background-color: #00CCCC;
}
    

header {
    background-color: #F5F6F7;
    padding-bottom: 150px;
    background-image: url("../img/title-img.png");
    background-position: 70% 100%;
    background-repeat: no-repeat;
}

.animated{
    opacity: 0;
}

.main-navigation {
    margin: 0 auto;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    margin-top: 30px;
    object-fit: cover;	
    display: flex;
    margin-top: 30px;
    margin-right: 170px;
}

header li {
    list-style-type: none;
    display: inline;
    margin: 0 auto;
    margin-right: 20px;
    padding: 0;
    color: black;
    font-size: 0.875em;
}

.nav-overalls a{
    color: black;
    display: block;  
    text-align:center;
    margin-top: 12px;
}

.nav {
    padding-right: 60px;
}
.nav a{
    transition: 0.5s;
}

.nav a:hover {
    color: #00CCCC;
}

.nav-overalls {
    width: 140px;
    height: 50px;
    background-color: #0F2336;
    border-radius: 15px;
    color: #FFFFFF;
}

.nav-overalls a {
    color: #FFFFFF;
}

.logo-container img {
    width: 130px;
    height: 47px;
    object-fit: cover;	
    display: flex;
    margin-top: -30px;
    margin-left: 500px;
}

.title-content {
    width: 1440px;
    margin: 140px 100px;
    margin-left: 400px;
}

.title-color-black {
    font-size: 3.4375em;
    color: #0F2336;
    line-height: 70px;
    display: inline;
}

.title-color-green {
    color: #00CCCC;
    font-size: 55px;
    line-height: 70px;
}

.title-color-yellow {
    color: #F3AF47;
    display: inline;
    font-size: 55px;
}

.title-content button {
    display: block;
    margin-top: 55px;
    width: 210px;
    height: 60px;
    background-color: #00CCCC;
    border-radius: 15px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #0F2336;
    text-align: center;
}

.title-content img {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.advantage {
    width: 1440px;
    margin: 100px auto;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.advantage div {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10px;
    vertical-align:top;
}

.advantage h2 {
    color: #0F2336;
}

.how-work {
    width: 1440px;
    margin: 20px auto;
    display: flex;
}

.how-work-description {
    background-color: #F4F5F6;
    border-radius: 15px;
    position: absolute;
    margin-top: 50px;
    width: 1440px;
    height: 540px;
    z-index: 0;
}

.how-work img {
    padding-left: 20px;
    z-index: 1;
}

.container-how-work {
    padding-left: 550px;
    padding-top: 100px;
}

.how-work h2 {
    color: #0F2336;
    width: 200px;
    font-size: 40px;
    font-weight: 900;
    line-height: 55px;
    margin-top: 20px;
}

.description {
    width: 410px;
}

.about-app {
    
    display: flex;
    z-index: 0;
    margin-top: 150px;
    height: 527px;
}

.background-about {
    position: absolute;
    background-color: #F4F5F6;
    width: 100%;
    height: 527px;
    z-index: 0;
}

.container-about-app  {
    margin: -40px 0px 0px 150px;
    z-index: 1;
}

.container-about-app h2 {
    color: #0F2336;
    display: inline-block;
}

.about-description {
    margin-left: 100px;
    margin-top: -50px;
    padding-bottom: 30px;
}

.container-about-app img {
    margin-left: 40px;
    margin-top: 25px;
}

.container-about-app-descr {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 250px;
    margin-bottom: 30px;
    width: 455px;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    border-radius: 10px;
}

.container-about-app-descr:nth-child(2n) {
    margin-left: 290px;
}

.girlandphone {
    position: absolute;
    z-index: 1;
    padding-left: 900px;
    padding-top: 30px;
}

.send-gifts {
    width: 1440px;
    margin: 100px auto;
    margin-bottom: 150px;
    display: flex;
}

.send-gifts-description {
    background-color: #F4F5F6;
    border-radius: 15px;
    position: absolute;
    margin-top: 50px;
    width: 1440px;
    height: 540px;
    z-index: 0;
}

.send-gifts img {
    padding-left: 750px;
    z-index: 1;
}

.container-send-gifts {
    padding-left: 280px;
    padding-top: 100px;
}

.send-gifts h2 {
    color: #0F2336;
    width: 300px;
    font-size: 40px;
    font-weight: 900;
    line-height: 55px;
    margin-top: 20px;
}

.link {
    text-align: center;
    margin: 0;
}

.link h2 {
    margin: 20px auto; 
    color: #0F2336;
    font-size: 50px;
    width: 500px;
    font-weight: 900;
    line-height: 60px;
}

.link input {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.35);
    width: 400px;
    height: 55px;
    border: 0px;
    background-color: #F0F0F2;
    text-align: center;
    border-radius: 10px;
}

.link button {
    margin-left: 20px;
    height: 55px;
    width: 155px;
    background: #00CCCC;
    border: 0px;
    box-sizing: border-box;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F2336;
}

.link a {
    display: inline-block;
    background: #240C39;
    border-radius: 10px;
    width: 185px;
    height: 60px;
}

.link div {
    margin: 20px auto;
    margin-left: -210px; 
}

.logo-shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

footer {
    background: #0F2336;
    display: flex;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 0px;
    height: 300px;
    position: relative;
}

.leafblue {
    margin-top: -100px ;
}

.main-header-logo {
    margin-top: -70px;
    margin-left: 340px;
}

footer ul {
    list-style: none;
    padding-inline-start: 0px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.39px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-container {
    display: flex;
    padding-left: 450px;
}

footer h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #00CCCC;
}

.leafyeallow {
    position: absolute; bottom: 0px; right: 0px;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    body {
        font-size: 12px;
    }

    .main-navigation-wrapper {
        flex-direction: column;
    }

    .title-content{
        margin: 120px 0px;
    }

	.container {
		width: 90%;
	}

    header {
        background-position: 50% 50%;
    }
}